parameters:
	ignoreErrors:
		- '#Access to an undefined property voku\\helper\\SimpleHtmlDom::\$innerHtml#'
		- '#Access to an undefined property voku\\helper\\SimpleHtmlDom::\$outerHtml#'
		- '#Access to an undefined property WyriHaximus\\HtmlCompress\\Compressor\\CompressorInterface::\$called.#'
	classesAllowedToBeExtended:
		- WyriHaximus\HtmlCompress\Compressor\Compressor
		- WyriHaximus\HtmlCompress\Tests\Compressor\AbstractVendorCompressorTest

includes:
	- vendor/wyrihaximus/test-utilities/rules.neon