#parameters:
#	ignoreErrors:
#		-
#			identifier: shipmonk.checkedExceptionInYieldingMethod
#			path: ../../src/CallalbleTileLocator.php
#		-
#			identifier: shipmonk.checkedExceptionInYieldingMethod
#			path: ../../tests/Provider.php
#		-
#			identifier: shipmonk.deadMethod
#			path: ../../tests/Provider.php
